.doubtCardContainer{
    text-decoration-color: white;
    height: 48vh;
    width: 400px;
    background: rgb(41, 41, 41);
    overflow: scroll;
    scrollbar-color: transparent;
    -ms-overflow-style: none;
  scrollbar-width: none;
}
.doubtCardContainer ::-webkit-scrollbar{
    width: 0px;
}

.doubtCardContainer::-webkit-scrollbar {
  display: none;
}

.doubtCardContainer p {
  color: #fff;
  
}

.titlec{
    font-size: large;

    color: white;
} 